
<div class="course" >
    <p id="u">Unlock your potential and pave the path to financial independence by joining our entrepreneurship course. Learn the essential skills to turn your ideas into successful businesses and become your own boss.</p>
    <button class="button1" routerLink="/entre">Entrepreneurship</button><br><br><br>
    <p id="u">Elevate your career and sharpen your competitive edge by enrolling in our dynamic business strategy course. Dive deep into strategic thinking, market analysis, and decision-making techniques to position yourself as a strategic leader in your industry.</p>
    <button routerLink="/business" class="button1">Business Strategies</button><br><br><br>
</div>