<div class="login-container">
    <h2 class="center">Login</h2>
    <form (ngSubmit)="onSubmit()" class="center">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"  ><br>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  >
      </div><br>
      <div class="form-group">
        <label for="language">Preferred Local Language</label>
        <input type="language" id="language" name="language"  >
      </div><br>
      <button type="submit">Login</button>
    </form>
  </div>